@media (max-width: 950px) {
  .header-box {
    width: auto;
    height: 3rem;
  }

  .menu-wrap {
    height: 3rem;
  }

  .menu-wrap .hamburger {
    padding: 1.2rem;
  }

  #header-profile img {
    height: 2rem;
    width: auto;
  }
  #header-profile h2 {
    display: none;
  }

  #header-search input {
    height: 100%;
  }
  #header-container h1 {
    font-size: 2rem;
  }
}
@media (max-width: 737px) {
  #btn-add span {
    display: none;
  }

  .btn {
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 0.5rem;
  }
}
@media (max-width: 550px) {
  .container {
    position: relative;
  }
  #btn-add {
    border: none;
    outline: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    position: fixed;
    bottom: 5%;
    left: 90%;
    margin: 0 0 0 -10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header-container {
    margin-top: 0;
  }

  #header-search input {
    width: 3rem;
    font-size: 0.8rem;
    transition: ease-in-out, width 1s ease-in-out;
  }

  #header-search input:focus {
    width: 6rem;
  }
  #header-container h1 {
    font-size: 1.2rem;
  }

  #buttons-container .btn:nth-child(2),
  #buttons-container .btn:nth-child(3) {
    display: none;
  }

  #notes {
    justify-content: center;
  }

  .note {
    margin-right: 0;
  }

  #tags {
    margin-top: 2rem;
  }
}
